<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxing.complaints.dao.Ori234GCellMapper">
	<resultMap id="BaseResultMap" type="com.huaxing.complaints.model.Ori234GCell">
		<result column="FIELD0" property="field0" jdbcType="VARCHAR" />
		<result column="FIELD1" property="field1" jdbcType="VARCHAR" />
		<result column="FIELD2" property="field2" jdbcType="VARCHAR" />
		<result column="FIELD3" property="field3" jdbcType="VARCHAR" />
		<result column="FIELD4" property="field4" jdbcType="VARCHAR" />
		<result column="FIELD5" property="field5" jdbcType="VARCHAR" />
		<result column="FIELD6" property="field6" jdbcType="VARCHAR" />
		<result column="FIELD7" property="field7" jdbcType="VARCHAR" />
		<result column="FIELD8" property="field8" jdbcType="VARCHAR" />
		<result column="FIELD9" property="field9" jdbcType="VARCHAR" />
		<result column="FIELD10" property="field10" jdbcType="VARCHAR" />
		<result column="FIELD11" property="field11" jdbcType="VARCHAR" />
		<result column="FIELD12" property="field12" jdbcType="VARCHAR" />
		<result column="FIELD13" property="field13" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="com.huaxing.complaints.model.Ori234GCell">
		insert into T_ORI_234G_CELL
		(FIELD1, FIELD2, FIELD3,
		FIELD4, FIELD5, FIELD6,
		FIELD7, FIELD8, FIELD9,
		FIELD10, FIELD11, FIELD12,
		FIELD13)
		values (#{field1,jdbcType=VARCHAR},
		#{field2,jdbcType=VARCHAR},
		#{field3,jdbcType=VARCHAR},
		#{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR},
		#{field6,jdbcType=VARCHAR},
		#{field7,jdbcType=VARCHAR},
		#{field8,jdbcType=VARCHAR},
		#{field9,jdbcType=VARCHAR},
		#{field10,jdbcType=VARCHAR}, #{field11,jdbcType=VARCHAR},
		#{field12,jdbcType=VARCHAR},
		#{field13,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huaxing.complaints.model.Ori234GCell">
		insert into T_ORI_234G_CELL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="field1 != null">
				FIELD1,
			</if>
			<if test="field2 != null">
				FIELD2,
			</if>
			<if test="field3 != null">
				FIELD3,
			</if>
			<if test="field4 != null">
				FIELD4,
			</if>
			<if test="field5 != null">
				FIELD5,
			</if>
			<if test="field6 != null">
				FIELD6,
			</if>
			<if test="field7 != null">
				FIELD7,
			</if>
			<if test="field8 != null">
				FIELD8,
			</if>
			<if test="field9 != null">
				FIELD9,
			</if>
			<if test="field10 != null">
				FIELD10,
			</if>
			<if test="field11 != null">
				FIELD11,
			</if>
			<if test="field12 != null">
				FIELD12,
			</if>
			<if test="field13 != null">
				FIELD13,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="field1 != null">
				#{field1,jdbcType=VARCHAR},
			</if>
			<if test="field2 != null">
				#{field2,jdbcType=VARCHAR},
			</if>
			<if test="field3 != null">
				#{field3,jdbcType=VARCHAR},
			</if>
			<if test="field4 != null">
				#{field4,jdbcType=VARCHAR},
			</if>
			<if test="field5 != null">
				#{field5,jdbcType=VARCHAR},
			</if>
			<if test="field6 != null">
				#{field6,jdbcType=VARCHAR},
			</if>
			<if test="field7 != null">
				#{field7,jdbcType=VARCHAR},
			</if>
			<if test="field8 != null">
				#{field8,jdbcType=VARCHAR},
			</if>
			<if test="field9 != null">
				#{field9,jdbcType=VARCHAR},
			</if>
			<if test="field10 != null">
				#{field10,jdbcType=VARCHAR},
			</if>
			<if test="field11 != null">
				#{field11,jdbcType=VARCHAR},
			</if>
			<if test="field12 != null">
				#{field12,jdbcType=VARCHAR},
			</if>
			<if test="field13 != null">
				#{field13,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<sql id="columnList">
		FIELD0,
		FIELD1, FIELD2, FIELD3,
		FIELD4, FIELD5,
		FIELD6,
		FIELD7,
		FIELD8, FIELD9,
		FIELD10, FIELD11, FIELD12,
		FIELD13
	</sql>
	<sql id="tableName">
		T_ORI_234G_CELL
	</sql>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="columnList" />
		from
		<include refid="tableName" />
	</select>
	<select id="selectCount" resultType="int">
		select count(*)
		from
		<include refid="tableName" />
		where 1=1
		<if test="search1!=null"> 
		and field2 like '%' || #{search1,jdbcType=VARCHAR} || '%'
		</if>
		<if test="search2!=null"> 
		and field3 like '%' || #{search2,jdbcType=VARCHAR} || '%'
		</if>
		<if test="search3!=null"> 
		and field4 like '%' || #{search3,jdbcType=VARCHAR} || '%'
		</if>
		<if test="search4!=null"> 
		and field5 like '%' || #{search4,jdbcType=VARCHAR} || '%'
		</if>
		<if test="search5!=null"> 
		and field6 like '%' || #{search5,jdbcType=VARCHAR} || '%'
		</if>
		<if test="search6!=null"> 
		and field7 like '%' || #{search6,jdbcType=VARCHAR} || '%'
		</if>
	</select>
	<select id="selectPaging" resultMap="BaseResultMap">
		<if test="start!=null and end!=null"> 
		select c.* from (
		select a.*, rownum rn from 
		(
		</if>
			SELECT <include refid="columnList" /> FROM 		<include refid="tableName" />
			where 1=1
			<if test="search1!=null"> 
			and field2 like '%' || #{search1,jdbcType=VARCHAR} || '%'
			</if>
			<if test="search2!=null"> 
			and field3 like '%' || #{search2,jdbcType=VARCHAR} || '%'
			</if>
			<if test="search3!=null"> 
			and field4 like '%' || #{search3,jdbcType=VARCHAR} || '%'
			</if>
			<if test="search4!=null"> 
			and field5 like '%' || #{search4,jdbcType=VARCHAR} || '%'
			</if>
			<if test="search5!=null"> 
			and field6 like '%' || #{search5,jdbcType=VARCHAR} || '%'
			</if>
			<if test="search6!=null"> 
			and field7 like '%' || #{search6,jdbcType=VARCHAR} || '%'
			</if>
		<if test="start!=null and end!=null"> 
		)
		a where #{end,jdbcType=INTEGER} >= rownum) c
		where c.rn >= #{start,jdbcType=INTEGER}
		</if>
	</select>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into <include refid="tableName" />
		( <include refid="columnList" /> )
		<foreach collection="list" item="item" index="index" separator="union all">
			select
			#{item.field0,jdbcType=VARCHAR},
			#{item.field1,jdbcType=VARCHAR},#{item.field2,jdbcType=VARCHAR},#{item.field3,jdbcType=VARCHAR},#{item.field4,jdbcType=VARCHAR},#{item.field5,jdbcType=VARCHAR},#{item.field6,jdbcType=VARCHAR},#{item.field7,jdbcType=VARCHAR},#{item.field8,jdbcType=VARCHAR},#{item.field9,jdbcType=VARCHAR},#{item.field10,jdbcType=VARCHAR},
			#{item.field11,jdbcType=VARCHAR},#{item.field12,jdbcType=VARCHAR},#{item.field13,jdbcType=VARCHAR} 
			from dual
		</foreach>
	</insert>
	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from  <include refid="tableName" />
		<if test="field0List!=null"> 
			where field0 in 
			<foreach collection="field0List" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=VARCHAR}
			</foreach>
		</if>
	</delete>
</mapper>